@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: ;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter";
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
  scroll-behavior: smooth;
}
/*PRIMARY TAILWIND CONFIG*/
.text-gradient-primary {
  background: linear-gradient(to right, #CAA6FF, #003DFF, #9333ea );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/*SECONDARY TAILWIND CONFIG*/
.bg-gradient-secondary {
  /*background: linear-gradient(to right, #3B6AFF, #6600FF);  Substitua pelos valores das suas cores */
  transition:  0.3s ease;
  background: #6600FF;
}
.bg-gradient-secondary:hover {
  background: #6630FF;
}

/*TERTIARY TAILWIND CONFIG*/
.b-gradient-secondary{
  border: solid 2px linear-gradient(to right, #3B6AFF, #6600FF);
}